@import '../../../styles/_variables.scss';

.authentication-container {
  margin-top: $gutter;
  justify-content: space-between;
  display: flex;

  .signIn-button {
    margin-bottom: $gutter;
  }
  
  .profile {
    margin-bottom: $gutter;
    justify-content: space-between;
    position: relative;
    height: 48px;


    .user-imageArea {
      position: absolute;
      overflow: hidden;
      max-width: 48px;
      height: 48px;
      border-radius: 50%;
      z-index: 0;
      width: 100%;
      left: -14%;

      .user-image {
        position: absolute;
        z-index: 10;
        width: 100%;
      }

      .user-email {
        font-size: $fontSizeSmall;
      }
    }
  }
}
