@import '../../../styles/_variables.scss';

.authentication-container {
  justify-content: space-between;
  display: flex;

  .signIn-button {
    margin-bottom: $gutter;
  }

  .profile {
    margin-bottom: $gutter;
    justify-content: space-between;
    position: relative;
    height: 48px;

    .user-details {
      margin-top: $radius;
      margin-left: $gutter;
      .user-email {
        font-size: $fontSizeSmall;
      }
      .user-name {
        font-size: $fontSizeRegular;
        font-weight: bold;
      }
    }

    .user-imageArea {
      position: absolute;
      overflow: hidden;
      max-width: 48px;
      height: 48px;
      border-radius: 50%;
      z-index: 0;
      width: 100%;
      left: -14%;
      background-color: blueviolet;
      vertical-align: middle;
      text-align: center;

      .user-image {
        position: relative;
        z-index: 10;
        width: 100%;
      }

      .initials {
        color: #fff;
        position: relative;
        line-height: 48px;
        font-size: $fontSizeLarge;
        font-weight: bold;
      }

    }
  }
}
