registry=https://registry.npmjs.org/

@ms-ofb:registry=https://office.pkgs.visualstudio.com/_packaging/Office/npm/registry/
@augloop:registry=https://office.pkgs.visualstudio.com/_packaging/AugmentationLoop/npm/registry/
always-auth=true
