registry=https://office.pkgs.visualstudio.com/_packaging/Office/npm/registry/

always-auth=true


; begin auth token
//office.pkgs.visualstudio.com/_packaging/Office/npm/registry/:username=office
//office.pkgs.visualstudio.com/_packaging/Office/npm/registry/:_password=NGh0NmRpY2M0N3B3N3dmM2hiM3plZXBveGRpcHNoeWEzejJjaGx1bGhtN2YyaWsyYnJ6YQ==
//office.pkgs.visualstudio.com/_packaging/Office/npm/registry/:email=japethobalak@gmail.com
//office.pkgs.visualstudio.com/_packaging/Office/npm/:username=office
//office.pkgs.visualstudio.com/_packaging/Office/npm/:_password=NGh0NmRpY2M0N3B3N3dmM2hiM3plZXBveGRpcHNoeWEzejJjaGx1bGhtN2YyaWsyYnJ6YQ==
//office.pkgs.visualstudio.com/_packaging/Office/npm/:email=japethobalak@gmail.com
; end auth token