@ms-ofb:registry=https://office.pkgs.visualstudio.com/_packaging/Office/npm/registry/
//office.pkgs.visualstudio.com/_packaging/Office/npm/registry/:_authToken=ZGVpYXVmdnN4YWcyb3dtdXVmeXdpaG11N3B2a3VpbmZ0NmVjZW5zeWNoemt6cmI3am9wcQo=