{
  "openapi": "3.0.1",
  "info": {
    "title": "Partial Graph API",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0/",
      "description": "Core"
    }
  ],
  "paths": {
    "/me/calendar": {
      "get": {
        "tags": [
          "me.calendar"
        ],
        "summary": "Get calendar",
        "description": "Get the properties and relationships of a calendar object. The calendar can be one for a user,\nor the default calendar of a Microsoft 365 group. There are two scenarios where an app can get another user's calendar:",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/calendar-get?view=graph-rest-1.0"
        },
        "operationId": "me.GetCalendar",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "allowedOnlineMeetingProviders",
                  "canEdit",
                  "canShare",
                  "canViewPrivateItems",
                  "changeKey",
                  "color",
                  "defaultOnlineMeetingProvider",
                  "hexColor",
                  "isDefaultCalendar",
                  "isRemovable",
                  "isTallyingResponses",
                  "name",
                  "owner",
                  "calendarPermissions",
                  "calendarView",
                  "events",
                  "multiValueExtendedProperties",
                  "singleValueExtendedProperties"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "title": "entity",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier for an entity. Read-only."
                        }
                      }
                    },
                    {
                      "title": "calendar",
                      "type": "object",
                      "properties": {
                        "allowedOnlineMeetingProviders": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "title": "onlineMeetingProviderType",
                                "enum": [
                                  "unknown",
                                  "skypeForBusiness",
                                  "skypeForConsumer",
                                  "teamsForBusiness"
                                ],
                                "type": "string"
                              },
                              {
                                "type": "object",
                                "nullable": true
                              }
                            ]
                          },
                          "description": "Represent the online meeting service providers that can be used to create online meetings in this calendar. Possible values are: unknown, skypeForBusiness, skypeForConsumer, teamsForBusiness."
                        },
                        "canEdit": {
                          "type": "boolean",
                          "description": "true if the user can write to the calendar, false otherwise. This property is true for the user who created the calendar. This property is also true for a user who has been shared a calendar and granted write access.",
                          "nullable": true
                        },
                        "canShare": {
                          "type": "boolean",
                          "description": "true if the user has the permission to share the calendar, false otherwise. Only the user who created the calendar can share it.",
                          "nullable": true
                        },
                        "canViewPrivateItems": {
                          "type": "boolean",
                          "description": "true if the user can read calendar items that have been marked private, false otherwise.",
                          "nullable": true
                        },
                        "changeKey": {
                          "type": "string",
                          "description": "Identifies the version of the calendar object. Every time the calendar is changed, changeKey changes as well. This allows Exchange to apply changes to the correct version of the object. Read-only.",
                          "nullable": true
                        },
                        "color": {
                          "anyOf": [
                            {
                              "title": "calendarColor",
                              "enum": [
                                "auto",
                                "lightBlue",
                                "lightGreen",
                                "lightOrange",
                                "lightGray",
                                "lightYellow",
                                "lightTeal",
                                "lightPink",
                                "lightBrown",
                                "lightRed",
                                "maxColor"
                              ],
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "nullable": true
                            }
                          ],
                          "description": "Specifies the color theme to distinguish the calendar from other calendars in a UI. The property values are: auto, lightBlue, lightGreen, lightOrange, lightGray, lightYellow, lightTeal, lightPink, lightBrown, lightRed, maxColor."
                        },
                        "defaultOnlineMeetingProvider": {
                          "anyOf": [
                            {
                              "title": "onlineMeetingProviderType",
                              "enum": [
                                "unknown",
                                "skypeForBusiness",
                                "skypeForConsumer",
                                "teamsForBusiness"
                              ],
                              "type": "string"
                            },
                            {
                              "type": "object",
                              "nullable": true
                            }
                          ],
                          "description": "The default online meeting provider for meetings sent from this calendar. Possible values are: unknown, skypeForBusiness, skypeForConsumer, teamsForBusiness."
                        },
                        "hexColor": {
                          "type": "string",
                          "description": "The calendar color, expressed in a hex color code of three hexadecimal values, each ranging from 00 to FF and representing the red, green, or blue components of the color in the RGB color space. If the user has never explicitly set a color for the calendar, this property is empty. Read-only.",
                          "nullable": true
                        },
                        "isDefaultCalendar": {
                          "type": "boolean",
                          "description": "true if this is the default calendar where new events are created by default, false otherwise.",
                          "nullable": true
                        },
                        "isRemovable": {
                          "type": "boolean",
                          "description": "Indicates whether this user calendar can be deleted from the user mailbox.",
                          "nullable": true
                        },
                        "isTallyingResponses": {
                          "type": "boolean",
                          "description": "Indicates whether this user calendar supports tracking of meeting responses. Only meeting invites sent from users' primary calendars support tracking of meeting responses.",
                          "nullable": true
                        },
                        "name": {
                          "type": "string",
                          "description": "The calendar name.",
                          "nullable": true
                        },
                        "owner": {
                          "anyOf": [
                            {
                              "title": "emailAddress",
                              "type": "object",
                              "properties": {
                                "address": {
                                  "type": "string",
                                  "description": "The email address of the person or entity.",
                                  "nullable": true
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The display name of the person or entity.",
                                  "nullable": true
                                }
                              }
                            },
                            {
                              "type": "object",
                              "nullable": true
                            }
                          ],
                          "description": "If set, this represents the user who created or added the calendar. For a calendar that the user created or added, the owner property is set to the user. For a calendar shared with the user, the owner property is set to the person who shared that calendar with the user."
                        },
                        "calendarPermissions": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "title": "entity",
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "The unique identifier for an entity. Read-only."
                                  }
                                }
                              },
                              {
                                "title": "calendarPermission",
                                "type": "object",
                                "properties": {
                                  "allowedRoles": {
                                    "type": "array",
                                    "items": {
                                      "anyOf": [
                                        {
                                          "title": "calendarRoleType",
                                          "enum": [
                                            "none",
                                            "freeBusyRead",
                                            "limitedRead",
                                            "read",
                                            "write",
                                            "delegateWithoutPrivateEventAccess",
                                            "delegateWithPrivateEventAccess",
                                            "custom"
                                          ],
                                          "type": "string"
                                        },
                                        {
                                          "type": "object",
                                          "nullable": true
                                        }
                                      ]
                                    },
                                    "description": "List of allowed sharing or delegating permission levels for the calendar. Possible values are: none, freeBusyRead, limitedRead, read, write, delegateWithoutPrivateEventAccess, delegateWithPrivateEventAccess, custom."
                                  },
                                  "emailAddress": {
                                    "anyOf": [
                                      {
                                        "title": "emailAddress",
                                        "type": "object",
                                        "properties": {
                                          "address": {
                                            "type": "string",
                                            "description": "The email address of the person or entity.",
                                            "nullable": true
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "The display name of the person or entity.",
                                            "nullable": true
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "nullable": true
                                      }
                                    ],
                                    "description": "Represents a share recipient or delegate who has access to the calendar. For the 'My Organization' share recipient, the address property is null. Read-only."
                                  },
                                  "isInsideOrganization": {
                                    "type": "boolean",
                                    "description": "True if the user in context (recipient or delegate) is inside the same organization as the calendar owner.",
                                    "nullable": true
                                  },
                                  "isRemovable": {
                                    "type": "boolean",
                                    "description": "True if the user can be removed from the list of recipients or delegates for the specified calendar, false otherwise. The 'My organization' user determines the permissions other people within your organization have to the given calendar. You can't remove 'My organization' as a share recipient to a calendar.",
                                    "nullable": true
                                  },
                                  "role": {
                                    "anyOf": [
                                      {
                                        "title": "calendarRoleType",
                                        "enum": [
                                          "none",
                                          "freeBusyRead",
                                          "limitedRead",
                                          "read",
                                          "write",
                                          "delegateWithoutPrivateEventAccess",
                                          "delegateWithPrivateEventAccess",
                                          "custom"
                                        ],
                                        "type": "string"
                                      },
                                      {
                                        "type": "object",
                                        "nullable": true
                                      }
                                    ],
                                    "description": "Current permission level of the calendar share recipient or delegate."
                                  }
                                }
                              }
                            ]
                          },
                          "description": "The permissions of the users with whom the calendar is shared.",
                          "x-ms-navigationProperty": true
                        },
                        "calendarView": {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "allOf": [
                                  {
                                    "title": "entity",
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "The unique identifier for an entity. Read-only."
                                      }
                                    }
                                  },
                                  {
                                    "title": "outlookItem",
                                    "type": "object",
                                    "properties": {
                                      "categories": {
                                        "type": "array",
                                        "items": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "description": "The categories associated with the item"
                                      },
                                      "changeKey": {
                                        "type": "string",
                                        "description": "Identifies the version of the item. Every time the item is changed, changeKey changes as well. This allows Exchange to apply changes to the correct version of the object. Read-only.",
                                        "nullable": true
                                      },
                                      "createdDateTime": {
                                        "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
                                        "type": "string",
                                        "description": "The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z",
                                        "format": "date-time",
                                        "nullable": true
                                      },
                                      "lastModifiedDateTime": {
                                        "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
                                        "type": "string",
                                        "description": "The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z",
                                        "format": "date-time",
                                        "nullable": true
                                      }
                                    }
                                  }
                                ]
                              },
                              {
                                "title": "event",
                                "type": "object",
                                "properties": {
                                  "allowNewTimeProposals": {
                                    "type": "boolean",
                                    "description": "true if the meeting organizer allows invitees to propose a new time when responding; otherwise, false. Optional. Default is true.",
                                    "nullable": true
                                  },
                                  "attendees": {
                                    "type": "array",
                                    "items": {
                                      "allOf": [
                                        {
                                          "allOf": [
                                            {
                                              "title": "recipient",
                                              "type": "object",
                                              "properties": {
                                                "emailAddress": {
                                                  "anyOf": [
                                                    {
                                                      "title": "emailAddress",
                                                      "type": "object",
                                                      "properties": {
                                                        "address": {
                                                          "type": "string",
                                                          "description": "The email address of the person or entity.",
                                                          "nullable": true
                                                        },
                                                        "name": {
                                                          "type": "string",
                                                          "description": "The display name of the person or entity.",
                                                          "nullable": true
                                                        }
                                                      }
                                                    },
                                                    {
                                                      "type": "object",
                                                      "nullable": true
                                                    }
                                                  ],
                                                  "description": "The recipient's email address."
                                                }
                                              }
                                            },
                                            {
                                              "title": "attendeeBase",
                                              "type": "object",
                                              "properties": {
                                                "type": {
                                                  "anyOf": [
                                                    {
                                                      "title": "attendeeType",
                                                      "enum": [
                                                        "required",
                                                        "optional",
                                                        "resource"
                                                      ],
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "object",
                                                      "nullable": true
                                                    }
                                                  ],
                                                  "description": "The type of attendee. The possible values are: required, optional, resource. Currently if the attendee is a person, findMeetingTimes always considers the person is of the Required type."
                                                }
                                              }
                                            }
                                          ]
                                        },
                                        {
                                          "title": "attendee",
                                          "type": "object",
                                          "properties": {
                                            "proposedNewTime": {
                                              "anyOf": [
                                                {
                                                  "title": "timeSlot",
                                                  "type": "object",
                                                  "properties": {
                                                    "end": {
                                                      "title": "dateTimeTimeZone",
                                                      "type": "object",
                                                      "properties": {
                                                        "dateTime": {
                                                          "type": "string",
                                                          "description": "A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000)."
                                                        },
                                                        "timeZone": {
                                                          "type": "string",
                                                          "description": "Represents a time zone, for example, 'Pacific Standard Time'. See below for more possible values.",
                                                          "nullable": true
                                                        }
                                                      }
                                                    },
                                                    "start": {
                                                      "title": "dateTimeTimeZone",
                                                      "type": "object",
                                                      "properties": {
                                                        "dateTime": {
                                                          "type": "string",
                                                          "description": "A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000)."
                                                        },
                                                        "timeZone": {
                                                          "type": "string",
                                                          "description": "Represents a time zone, for example, 'Pacific Standard Time'. See below for more possible values.",
                                                          "nullable": true
                                                        }
                                                      }
                                                    }
                                                  }
                                                },
                                                {
                                                  "type": "object",
                                                  "nullable": true
                                                }
                                              ],
                                              "description": "An alternate date/time proposed by the attendee for a meeting request to start and end. If the attendee hasn't proposed another time, then this property isn't included in a response of a GET event."
                                            },
                                            "status": {
                                              "anyOf": [
                                                {
                                                  "title": "responseStatus",
                                                  "type": "object",
                                                  "properties": {
                                                    "response": {
                                                      "anyOf": [
                                                        {
                                                          "title": "responseType",
                                                          "enum": [
                                                            "none",
                                                            "organizer",
                                                            "tentativelyAccepted",
                                                            "accepted",
                                                            "declined",
                                                            "notResponded"
                                                          ],
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "object",
                                                          "nullable": true
                                                        }
                                                      ],
                                                      "description": "The response type. Possible values are: none, organizer, tentativelyAccepted, accepted, declined, notResponded.To differentiate between none and notResponded:  none – from organizer's perspective. This value is used when the status of an attendee/participant is reported to the organizer of a meeting.  notResponded – from attendee's perspective. Indicates the attendee has not responded to the meeting request.  Clients can treat notResponded == none.  As an example, if attendee Alex hasn't responded to a meeting request, getting Alex' response status for that event in Alex' calendar returns notResponded. Getting Alex' response from the calendar of any other attendee or the organizer's returns none. Getting the organizer's response for the event in anybody's calendar also returns none."
                                                    },
                                                    "time": {
                                                      "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
                                                      "type": "string",
                                                      "description": "The date and time when the response was returned. It uses ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z",
                                                      "format": "date-time",
                                                      "nullable": true
                                                    }
                                                  }
                                                },
                                                {
                                                  "type": "object",
                                                  "nullable": true
                                                }
                                              ],
                                              "description": "The attendee's response (none, accepted, declined, etc.) for the event and date-time that the response was sent."
                                            }
                                          }
                                        }
                                      ]
                                    },
                                    "description": "The collection of attendees for the event."
                                  },
                                  "body": {
                                    "anyOf": [
                                      {
                                        "title": "itemBody",
                                        "type": "object",
                                        "properties": {
                                          "content": {
                                            "type": "string",
                                            "description": "The content of the item.",
                                            "nullable": true
                                          },
                                          "contentType": {
                                            "anyOf": [
                                              {
                                                "title": "bodyType",
                                                "enum": [
                                                  "text",
                                                  "html"
                                                ],
                                                "type": "string"
                                              },
                                              {
                                                "type": "object",
                                                "nullable": true
                                              }
                                            ],
                                            "description": "The type of the content. Possible values are text and html."
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "nullable": true
                                      }
                                    ],
                                    "description": "The body of the message associated with the event. It can be in HTML or text format."
                                  },
                                  "bodyPreview": {
                                    "type": "string",
                                    "description": "The preview of the message associated with the event. It is in text format.",
                                    "nullable": true
                                  },
                                  "end": {
                                    "anyOf": [
                                      {
                                        "title": "dateTimeTimeZone",
                                        "type": "object",
                                        "properties": {
                                          "dateTime": {
                                            "type": "string",
                                            "description": "A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000)."
                                          },
                                          "timeZone": {
                                            "type": "string",
                                            "description": "Represents a time zone, for example, 'Pacific Standard Time'. See below for more possible values.",
                                            "nullable": true
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "nullable": true
                                      }
                                    ],
                                    "description": "The date, time, and time zone that the event ends. By default, the end time is in UTC."
                                  },
                                  "hasAttachments": {
                                    "type": "boolean",
                                    "description": "Set to true if the event has attachments.",
                                    "nullable": true
                                  },
                                  "hideAttendees": {
                                    "type": "boolean",
                                    "description": "When set to true, each attendee only sees themselves in the meeting request and meeting Tracking list. Default is false.",
                                    "nullable": true
                                  },
                                  "iCalUId": {
                                    "type": "string",
                                    "description": "A unique identifier for an event across calendars. This ID is different for each occurrence in a recurring series. Read-only.",
                                    "nullable": true
                                  },
                                  "importance": {
                                    "anyOf": [
                                      {
                                        "title": "importance",
                                        "enum": [
                                          "low",
                                          "normal",
                                          "high"
                                        ],
                                        "type": "string"
                                      },
                                      {
                                        "type": "object",
                                        "nullable": true
                                      }
                                    ],
                                    "description": "The importance of the event. The possible values are: low, normal, high."
                                  },
                                  "isAllDay": {
                                    "type": "boolean",
                                    "description": "Set to true if the event lasts all day. If true, regardless of whether it's a single-day or multi-day event, start and end time must be set to midnight and be in the same time zone.",
                                    "nullable": true
                                  },
                                  "isCancelled": {
                                    "type": "boolean",
                                    "description": "Set to true if the event has been canceled.",
                                    "nullable": true
                                  },
                                  "isDraft": {
                                    "type": "boolean",
                                    "description": "Set to true if the user has updated the meeting in Outlook but has not sent the updates to attendees. Set to false if all changes have been sent, or if the event is an appointment without any attendees.",
                                    "nullable": true
                                  },
                                  "isOnlineMeeting": {
                                    "type": "boolean",
                                    "description": "True if this event has online meeting information (that is, onlineMeeting points to an onlineMeetingInfo resource), false otherwise. Default is false (onlineMeeting is null). Optional.  After you set isOnlineMeeting to true, Microsoft Graph initializes onlineMeeting. Subsequently Outlook ignores any further changes to isOnlineMeeting, and the meeting remains available online.",
                                    "nullable": true
                                  },
                                  "isOrganizer": {
                                    "type": "boolean",
                                    "description": "Set to true if the calendar owner (specified by the owner property of the calendar) is the organizer of the event (specified by the organizer property of the event). This also applies if a delegate organized the event on behalf of the owner.",
                                    "nullable": true
                                  },
                                  "isReminderOn": {
                                    "type": "boolean",
                                    "description": "Set to true if an alert is set to remind the user of the event.",
                                    "nullable": true
                                  },
                                  "location": {
                                    "anyOf": [
                                      {
                                        "title": "location",
                                        "type": "object",
                                        "properties": {
                                          "address": {
                                            "anyOf": [
                                              {
                                                "title": "physicalAddress",
                                                "type": "object",
                                                "properties": {
                                                  "city": {
                                                    "type": "string",
                                                    "description": "The city.",
                                                    "nullable": true
                                                  },
                                                  "countryOrRegion": {
                                                    "type": "string",
                                                    "description": "The country or region. It's a free-format string value, for example, 'United States'.",
                                                    "nullable": true
                                                  },
                                                  "postalCode": {
                                                    "type": "string",
                                                    "description": "The postal code.",
                                                    "nullable": true
                                                  },
                                                  "state": {
                                                    "type": "string",
                                                    "description": "The state.",
                                                    "nullable": true
                                                  },
                                                  "street": {
                                                    "type": "string",
                                                    "description": "The street.",
                                                    "nullable": true
                                                  }
                                                }
                                              },
                                              {
                                                "type": "object",
                                                "nullable": true
                                              }
                                            ],
                                            "description": "The street address of the location."
                                          },
                                          "coordinates": {
                                            "anyOf": [
                                              {
                                                "title": "outlookGeoCoordinates",
                                                "type": "object",
                                                "properties": {
                                                  "accuracy": {
                                                    "oneOf": [
                                                      {
                                                        "type": "number",
                                                        "format": "double"
                                                      },
                                                      {
                                                        "type": "string"
                                                      },
                                                      {
                                                        "enum": [
                                                          "-INF",
                                                          "INF",
                                                          "NaN"
                                                        ]
                                                      }
                                                    ],
                                                    "description": "The accuracy of the latitude and longitude. As an example, the accuracy can be measured in meters, such as the latitude and longitude are accurate to within 50 meters.",
                                                    "nullable": true
                                                  },
                                                  "altitude": {
                                                    "oneOf": [
                                                      {
                                                        "type": "number",
                                                        "format": "double"
                                                      },
                                                      {
                                                        "type": "string"
                                                      },
                                                      {
                                                        "enum": [
                                                          "-INF",
                                                          "INF",
                                                          "NaN"
                                                        ]
                                                      }
                                                    ],
                                                    "description": "The altitude of the location.",
                                                    "nullable": true
                                                  },
                                                  "altitudeAccuracy": {
                                                    "oneOf": [
                                                      {
                                                        "type": "number",
                                                        "format": "double"
                                                      },
                                                      {
                                                        "type": "string"
                                                      },
                                                      {
                                                        "enum": [
                                                          "-INF",
                                                          "INF",
                                                          "NaN"
                                                        ]
                                                      }
                                                    ],
                                                    "description": "The accuracy of the altitude.",
                                                    "nullable": true
                                                  },
                                                  "latitude": {
                                                    "oneOf": [
                                                      {
                                                        "type": "number",
                                                        "format": "double"
                                                      },
                                                      {
                                                        "type": "string"
                                                      },
                                                      {
                                                        "enum": [
                                                          "-INF",
                                                          "INF",
                                                          "NaN"
                                                        ]
                                                      }
                                                    ],
                                                    "description": "The latitude of the location.",
                                                    "nullable": true
                                                  },
                                                  "longitude": {
                                                    "oneOf": [
                                                      {
                                                        "type": "number",
                                                        "format": "double"
                                                      },
                                                      {
                                                        "type": "string"
                                                      },
                                                      {
                                                        "enum": [
                                                          "-INF",
                                                          "INF",
                                                          "NaN"
                                                        ]
                                                      }
                                                    ],
                                                    "description": "The longitude of the location.",
                                                    "nullable": true
                                                  }
                                                }
                                              },
                                              {
                                                "type": "object",
                                                "nullable": true
                                              }
                                            ],
                                            "description": "The geographic coordinates and elevation of the location."
                                          },
                                          "displayName": {
                                            "type": "string",
                                            "description": "The name associated with the location.",
                                            "nullable": true
                                          },
                                          "locationEmailAddress": {
                                            "type": "string",
                                            "description": "Optional email address of the location.",
                                            "nullable": true
                                          },
                                          "locationType": {
                                            "anyOf": [
                                              {
                                                "title": "locationType",
                                                "enum": [
                                                  "default",
                                                  "conferenceRoom",
                                                  "homeAddress",
                                                  "businessAddress",
                                                  "geoCoordinates",
                                                  "streetAddress",
                                                  "hotel",
                                                  "restaurant",
                                                  "localBusiness",
                                                  "postalAddress"
                                                ],
                                                "type": "string"
                                              },
                                              {
                                                "type": "object",
                                                "nullable": true
                                              }
                                            ],
                                            "description": "The type of location. The possible values are: default, conferenceRoom, homeAddress, businessAddress,geoCoordinates, streetAddress, hotel, restaurant, localBusiness, postalAddress. Read-only."
                                          },
                                          "locationUri": {
                                            "type": "string",
                                            "description": "Optional URI representing the location.",
                                            "nullable": true
                                          },
                                          "uniqueId": {
                                            "type": "string",
                                            "description": "For internal use only.",
                                            "nullable": true
                                          },
                                          "uniqueIdType": {
                                            "anyOf": [
                                              {
                                                "title": "locationUniqueIdType",
                                                "enum": [
                                                  "unknown",
                                                  "locationStore",
                                                  "directory",
                                                  "private",
                                                  "bing"
                                                ],
                                                "type": "string"
                                              },
                                              {
                                                "type": "object",
                                                "nullable": true
                                              }
                                            ],
                                            "description": "For internal use only."
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "nullable": true
                                      }
                                    ],
                                    "description": "The location of the event."
                                  },
                                  "locations": {
                                    "type": "array",
                                    "items": {
                                      "title": "location",
                                      "type": "object",
                                      "properties": {
                                        "address": {
                                          "anyOf": [
                                            {
                                              "title": "physicalAddress",
                                              "type": "object",
                                              "properties": {
                                                "city": {
                                                  "type": "string",
                                                  "description": "The city.",
                                                  "nullable": true
                                                },
                                                "countryOrRegion": {
                                                  "type": "string",
                                                  "description": "The country or region. It's a free-format string value, for example, 'United States'.",
                                                  "nullable": true
                                                },
                                                "postalCode": {
                                                  "type": "string",
                                                  "description": "The postal code.",
                                                  "nullable": true
                                                },
                                                "state": {
                                                  "type": "string",
                                                  "description": "The state.",
                                                  "nullable": true
                                                },
                                                "street": {
                                                  "type": "string",
                                                  "description": "The street.",
                                                  "nullable": true
                                                }
                                              }
                                            },
                                            {
                                              "type": "object",
                                              "nullable": true
                                            }
                                          ],
                                          "description": "The street address of the location."
                                        },
                                        "coordinates": {
                                          "anyOf": [
                                            {
                                              "title": "outlookGeoCoordinates",
                                              "type": "object",
                                              "properties": {
                                                "accuracy": {
                                                  "oneOf": [
                                                    {
                                                      "type": "number",
                                                      "format": "double"
                                                    },
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "enum": [
                                                        "-INF",
                                                        "INF",
                                                        "NaN"
                                                      ]
                                                    }
                                                  ],
                                                  "description": "The accuracy of the latitude and longitude. As an example, the accuracy can be measured in meters, such as the latitude and longitude are accurate to within 50 meters.",
                                                  "nullable": true
                                                },
                                                "altitude": {
                                                  "oneOf": [
                                                    {
                                                      "type": "number",
                                                      "format": "double"
                                                    },
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "enum": [
                                                        "-INF",
                                                        "INF",
                                                        "NaN"
                                                      ]
                                                    }
                                                  ],
                                                  "description": "The altitude of the location.",
                                                  "nullable": true
                                                },
                                                "altitudeAccuracy": {
                                                  "oneOf": [
                                                    {
                                                      "type": "number",
                                                      "format": "double"
                                                    },
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "enum": [
                                                        "-INF",
                                                        "INF",
                                                        "NaN"
                                                      ]
                                                    }
                                                  ],
                                                  "description": "The accuracy of the altitude.",
                                                  "nullable": true
                                                },
                                                "latitude": {
                                                  "oneOf": [
                                                    {
                                                      "type": "number",
                                                      "format": "double"
                                                    },
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "enum": [
                                                        "-INF",
                                                        "INF",
                                                        "NaN"
                                                      ]
                                                    }
                                                  ],
                                                  "description": "The latitude of the location.",
                                                  "nullable": true
                                                },
                                                "longitude": {
                                                  "oneOf": [
                                                    {
                                                      "type": "number",
                                                      "format": "double"
                                                    },
                                                    {
                                                      "type": "string"
                                                    },
                                                    {
                                                      "enum": [
                                                        "-INF",
                                                        "INF",
                                                        "NaN"
                                                      ]
                                                    }
                                                  ],
                                                  "description": "The longitude of the location.",
                                                  "nullable": true
                                                }
                                              }
                                            },
                                            {
                                              "type": "object",
                                              "nullable": true
                                            }
                                          ],
                                          "description": "The geographic coordinates and elevation of the location."
                                        },
                                        "displayName": {
                                          "type": "string",
                                          "description": "The name associated with the location.",
                                          "nullable": true
                                        },
                                        "locationEmailAddress": {
                                          "type": "string",
                                          "description": "Optional email address of the location.",
                                          "nullable": true
                                        },
                                        "locationType": {
                                          "anyOf": [
                                            {
                                              "title": "locationType",
                                              "enum": [
                                                "default",
                                                "conferenceRoom",
                                                "homeAddress",
                                                "businessAddress",
                                                "geoCoordinates",
                                                "streetAddress",
                                                "hotel",
                                                "restaurant",
                                                "localBusiness",
                                                "postalAddress"
                                              ],
                                              "type": "string"
                                            },
                                            {
                                              "type": "object",
                                              "nullable": true
                                            }
                                          ],
                                          "description": "The type of location. The possible values are: default, conferenceRoom, homeAddress, businessAddress,geoCoordinates, streetAddress, hotel, restaurant, localBusiness, postalAddress. Read-only."
                                        },
                                        "locationUri": {
                                          "type": "string",
                                          "description": "Optional URI representing the location.",
                                          "nullable": true
                                        },
                                        "uniqueId": {
                                          "type": "string",
                                          "description": "For internal use only.",
                                          "nullable": true
                                        },
                                        "uniqueIdType": {
                                          "anyOf": [
                                            {
                                              "title": "locationUniqueIdType",
                                              "enum": [
                                                "unknown",
                                                "locationStore",
                                                "directory",
                                                "private",
                                                "bing"
                                              ],
                                              "type": "string"
                                            },
                                            {
                                              "type": "object",
                                              "nullable": true
                                            }
                                          ],
                                          "description": "For internal use only."
                                        }
                                      }
                                    },
                                    "description": "The locations where the event is held or attended from. The location and locations properties always correspond with each other. If you update the location property, any prior locations in the locations collection would be removed and replaced by the new location value."
                                  },
                                  "onlineMeeting": {
                                    "anyOf": [
                                      {
                                        "title": "onlineMeetingInfo",
                                        "type": "object",
                                        "properties": {
                                          "conferenceId": {
                                            "type": "string",
                                            "description": "The ID of the conference.",
                                            "nullable": true
                                          },
                                          "joinUrl": {
                                            "type": "string",
                                            "description": "The external link that launches the online meeting. This is a URL that clients launch into a browser and will redirect the user to join the meeting.",
                                            "nullable": true
                                          },
                                          "phones": {
                                            "type": "array",
                                            "items": {
                                              "title": "phone",
                                              "type": "object",
                                              "properties": {
                                                "language": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "number": {
                                                  "type": "string",
                                                  "description": "The phone number.",
                                                  "nullable": true
                                                },
                                                "region": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "anyOf": [
                                                    {
                                                      "title": "phoneType",
                                                      "enum": [
                                                        "home",
                                                        "business",
                                                        "mobile",
                                                        "other",
                                                        "assistant",
                                                        "homeFax",
                                                        "businessFax",
                                                        "otherFax",
                                                        "pager",
                                                        "radio"
                                                      ],
                                                      "type": "string"
                                                    },
                                                    {
                                                      "type": "object",
                                                      "nullable": true
                                                    }
                                                  ],
                                                  "description": "The type of phone number. The possible values are: home, business, mobile, other, assistant, homeFax, businessFax, otherFax, pager, radio."
                                                }
                                              }
                                            },
                                            "description": "All of the phone numbers associated with this conference."
                                          },
                                          "quickDial": {
                                            "type": "string",
                                            "description": "The preformatted quick dial for this call.",
                                            "nullable": true
                                          },
                                          "tollFreeNumbers": {
                                            "type": "array",
                                            "items": {
                                              "type": "string",
                                              "nullable": true
                                            },
                                            "description": "The toll free numbers that can be used to join the conference."
                                          },
                                          "tollNumber": {
                                            "type": "string",
                                            "description": "The toll number that can be used to join the conference.",
                                            "nullable": true
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "nullable": true
                                      }
                                    ],
                                    "description": "Details for an attendee to join the meeting online. Default is null. Read-only. After you set the isOnlineMeeting and onlineMeetingProvider properties to enable a meeting online, Microsoft Graph initializes onlineMeeting. When set, the meeting remains available online, and you cannot change the isOnlineMeeting, onlineMeetingProvider, and onlneMeeting properties again."
                                  },
                                  "onlineMeetingProvider": {
                                    "anyOf": [
                                      {
                                        "title": "onlineMeetingProviderType",
                                        "enum": [
                                          "unknown",
                                          "skypeForBusiness",
                                          "skypeForConsumer",
                                          "teamsForBusiness"
                                        ],
                                        "type": "string"
                                      },
                                      {
                                        "type": "object",
                                        "nullable": true
                                      }
                                    ],
                                    "description": "Represents the online meeting service provider. By default, onlineMeetingProvider is unknown. The possible values are unknown, teamsForBusiness, skypeForBusiness, and skypeForConsumer. Optional.  After you set onlineMeetingProvider, Microsoft Graph initializes onlineMeeting. Subsequently you cannot change onlineMeetingProvider again, and the meeting remains available online."
                                  },
                                  "onlineMeetingUrl": {
                                    "type": "string",
                                    "description": "A URL for an online meeting. The property is set only when an organizer specifies in Outlook that an event is an online meeting such as Skype. Read-only.To access the URL to join an online meeting, use joinUrl which is exposed via the onlineMeeting property of the event. The onlineMeetingUrl property will be deprecated in the future.",
                                    "nullable": true
                                  },
                                  "organizer": {
                                    "anyOf": [
                                      {
                                        "title": "recipient",
                                        "type": "object",
                                        "properties": {
                                          "emailAddress": {
                                            "anyOf": [
                                              {
                                                "title": "emailAddress",
                                                "type": "object",
                                                "properties": {
                                                  "address": {
                                                    "type": "string",
                                                    "description": "The email address of the person or entity.",
                                                    "nullable": true
                                                  },
                                                  "name": {
                                                    "type": "string",
                                                    "description": "The display name of the person or entity.",
                                                    "nullable": true
                                                  }
                                                }
                                              },
                                              {
                                                "type": "object",
                                                "nullable": true
                                              }
                                            ],
                                            "description": "The recipient's email address."
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "nullable": true
                                      }
                                    ],
                                    "description": "The organizer of the event."
                                  },
                                  "originalEndTimeZone": {
                                    "type": "string",
                                    "description": "The end time zone that was set when the event was created. A value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop Outlook.",
                                    "nullable": true
                                  },
                                  "originalStart": {
                                    "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
                                    "type": "string",
                                    "description": "Represents the start time of an event when it is initially created as an occurrence or exception in a recurring series. This property is not returned for events that are single instances. Its date and time information is expressed in ISO 8601 format and is always in UTC. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z",
                                    "format": "date-time",
                                    "nullable": true
                                  },
                                  "originalStartTimeZone": {
                                    "type": "string",
                                    "description": "The start time zone that was set when the event was created. A value of tzone://Microsoft/Custom indicates that a legacy custom time zone was set in desktop Outlook.",
                                    "nullable": true
                                  },
                                  "recurrence": {
                                    "anyOf": [
                                      {
                                        "title": "patternedRecurrence",
                                        "type": "object",
                                        "properties": {
                                          "pattern": {
                                            "anyOf": [
                                              {
                                                "title": "recurrencePattern",
                                                "type": "object",
                                                "properties": {
                                                  "dayOfMonth": {
                                                    "maximum": 2147483647,
                                                    "minimum": -2147483648,
                                                    "type": "integer",
                                                    "description": "The day of the month on which the event occurs. Required if type is absoluteMonthly or absoluteYearly.",
                                                    "format": "int32"
                                                  },
                                                  "daysOfWeek": {
                                                    "type": "array",
                                                    "items": {
                                                      "anyOf": [
                                                        {
                                                          "title": "dayOfWeek",
                                                          "enum": [
                                                            "sunday",
                                                            "monday",
                                                            "tuesday",
                                                            "wednesday",
                                                            "thursday",
                                                            "friday",
                                                            "saturday"
                                                          ],
                                                          "type": "string"
                                                        },
                                                        {
                                                          "type": "object",
                                                          "nullable": true
                                                        }
                                                      ]
                                                    },
                                                    "description": "A collection of the days of the week on which the event occurs. The possible values are: sunday, monday, tuesday, wednesday, thursday, friday, saturday. If type is relativeMonthly or relativeYearly, and daysOfWeek specifies more than one day, the event falls on the first day that satisfies the pattern.  Required if type is weekly, relativeMonthly, or relativeYearly."
                                                  },
                                                  "firstDayOfWeek": {
                                                    "anyOf": [
                                                      {
                                                        "title": "dayOfWeek",
                                                        "enum": [
                                                          "sunday",
                                                          "monday",
                                                          "tuesday",
                                                          "wednesday",
                                                          "thursday",
                                                          "friday",
                                                          "saturday"
                                                        ],
                                                        "type": "string"
                                                      },
                                                      {
                                                        "type": "object",
                                                        "nullable": true
                                                      }
                                                    ],
                                                    "description": "The first day of the week. The possible values are: sunday, monday, tuesday, wednesday, thursday, friday, saturday. Default is sunday. Required if type is weekly."
                                                  },
                                                  "index": {
                                                    "anyOf": [
                                                      {
                                                        "title": "weekIndex",
                                                        "enum": [
                                                          "first",
                                                          "second",
                                                          "third",
                                                          "fourth",
                                                          "last"
                                                        ],
                                                        "type": "string"
                                                      },
                                                      {
                                                        "type": "object",
                                                        "nullable": true
                                                      }
                                                    ],
                                                    "description": "Specifies on which instance of the allowed days specified in daysOfWeek the event occurs, counted from the first instance in the month. The possible values are: first, second, third, fourth, last. Default is first. Optional and used if type is relativeMonthly or relativeYearly."
                                                  },
                                                  "interval": {
                                                    "maximum": 2147483647,
                                                    "minimum": -2147483648,
                                                    "type": "integer",
                                                    "description": "The number of units between occurrences, where units can be in days, weeks, months, or years, depending on the type. Required.",
                                                    "format": "int32"
                                                  },
                                                  "month": {
                                                    "maximum": 2147483647,
                                                    "minimum": -2147483648,
                                                    "type": "integer",
                                                    "description": "The month in which the event occurs.  This is a number from 1 to 12.",
                                                    "format": "int32"
                                                  },
                                                  "type": {
                                                    "anyOf": [
                                                      {
                                                        "title": "recurrencePatternType",
                                                        "enum": [
                                                          "daily",
                                                          "weekly",
                                                          "absoluteMonthly",
                                                          "relativeMonthly",
                                                          "absoluteYearly",
                                                          "relativeYearly"
                                                        ],
                                                        "type": "string"
                                                      },
                                                      {
                                                        "type": "object",
                                                        "nullable": true
                                                      }
                                                    ],
                                                    "description": "The recurrence pattern type: daily, weekly, absoluteMonthly, relativeMonthly, absoluteYearly, relativeYearly. Required. For more information, see values of type property."
                                                  }
                                                }
                                              },
                                              {
                                                "type": "object",
                                                "nullable": true
                                              }
                                            ],
                                            "description": "The frequency of an event.  For access reviews: Do not specify this property for a one-time access review.  Only interval, dayOfMonth, and type (weekly, absoluteMonthly) properties of recurrencePattern are supported."
                                          },
                                          "range": {
                                            "anyOf": [
                                              {
                                                "title": "recurrenceRange",
                                                "type": "object",
                                                "properties": {
                                                  "endDate": {
                                                    "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$",
                                                    "type": "string",
                                                    "description": "The date to stop applying the recurrence pattern. Depending on the recurrence pattern of the event, the last occurrence of the meeting may not be this date. Required if type is endDate.",
                                                    "format": "date",
                                                    "nullable": true
                                                  },
                                                  "numberOfOccurrences": {
                                                    "maximum": 2147483647,
                                                    "minimum": -2147483648,
                                                    "type": "integer",
                                                    "description": "The number of times to repeat the event. Required and must be positive if type is numbered.",
                                                    "format": "int32"
                                                  },
                                                  "recurrenceTimeZone": {
                                                    "type": "string",
                                                    "description": "Time zone for the startDate and endDate properties. Optional. If not specified, the time zone of the event is used.",
                                                    "nullable": true
                                                  },
                                                  "startDate": {
                                                    "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$",
                                                    "type": "string",
                                                    "description": "The date to start applying the recurrence pattern. The first occurrence of the meeting may be this date or later, depending on the recurrence pattern of the event. Must be the same value as the start property of the recurring event. Required.",
                                                    "format": "date",
                                                    "nullable": true
                                                  },
                                                  "type": {
                                                    "anyOf": [
                                                      {
                                                        "title": "recurrenceRangeType",
                                                        "enum": [
                                                          "endDate",
                                                          "noEnd",
                                                          "numbered"
                                                        ],
                                                        "type": "string"
                                                      },
                                                      {
                                                        "type": "object",
                                                        "nullable": true
                                                      }
                                                    ],
                                                    "description": "The recurrence range. The possible values are: endDate, noEnd, numbered. Required."
                                                  }
                                                }
                                              },
                                              {
                                                "type": "object",
                                                "nullable": true
                                              }
                                            ],
                                            "description": "The duration of an event."
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "nullable": true
                                      }
                                    ],
                                    "description": "The recurrence pattern for the event."
                                  },
                                  "reminderMinutesBeforeStart": {
                                    "maximum": 2147483647,
                                    "minimum": -2147483648,
                                    "type": "integer",
                                    "description": "The number of minutes before the event start time that the reminder alert occurs.",
                                    "format": "int32",
                                    "nullable": true
                                  },
                                  "responseRequested": {
                                    "type": "boolean",
                                    "description": "Default is true, which represents the organizer would like an invitee to send a response to the event.",
                                    "nullable": true
                                  },
                                  "responseStatus": {
                                    "anyOf": [
                                      {
                                        "title": "responseStatus",
                                        "type": "object",
                                        "properties": {
                                          "response": {
                                            "anyOf": [
                                              {
                                                "title": "responseType",
[...]
