$fontFamilyBold: helvetica, sans-serif;
$fontFamilyBoldItalic: helvetica, sans-serif;
$fontFamilyItalic: helvetica, sans-serif;
$fontFamilyMedium: helvetica, sans-serif;
$fontFamilyMediumItalic: helvetica, sans-serif;
$fontFamilyRegular: helvetica, sans-serif;

$fontSizeLarge: 20px;
$fontSizeRegular: 14px;
$fontSizeSmall: 12px;

$gutter: 10px;
