@import "../../../styles/variables";

.query-response {
  width:100%;
  margin-top: $gutter;
  min-height: 470px;
  height: 610px;
  border: 1px solid silver;
  overflow: hidden;
  display: block;


  .ms-Pivot.root-84 {
    width: 100%;
  }

  .pivot-response *[data-content='Expand xx']  {
    float: right !important;
    color: #0078d4;
    }

  .pivot-response *[data-content='Share xx']  {
    float: right !important;
    color: #0078d4;
    }

  .default-text {
    display: flex;
    width: 100%;
    min-height: 370px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
  }

  .share-query-btn {
    float: right;
    margin-top: 10px;
    padding: 0px;
    z-index: 1;
  }
}

.share-query-params {
  font-family: 'monospace';
  font-size: 12px;
  width: '100%';
  overflow-x: auto;
  overflow-y: hidden;
}

