@import "../../../styles/variables";

.query-response {
  width:100%;
  margin-top: $gutter;
  border: 1px solid silver;
  overflow: hidden;
  display: block;


  .ms-Pivot.root-84 {
    width: 100%;
  }

  .pivot-response *[data-content='Expand xx'] {
    position: absolute;
    right:0px;
    @media screen and (max-width:1300px) {
        position: static;
    }
  }

  .pivot-response *[data-content='Share xx'] {
    position: absolute;
    right: 100px;
    @media screen and (max-width:1300px) {
      position: static;
    }
  }

  .default-text {
    display: flex;
    width: 100%;
    min-height: 370px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
  }

  .share-query-btn {
    float: right;
    margin-top: 10px;
    padding: 0px;
    z-index: 1;
  }
}

.share-query-params {
  font-family: 'monospace';
  font-size: 12px;
  width: '100%';
  overflow-x: auto;
  overflow-y: hidden;
}
