@import "../../../styles/variables";

.query-response {
  width:100%;
  margin-top: $gutter;
  min-height: 470px;
  height: 480px;
  border: 1px solid silver;
  overflow: hidden;


  .ms-Pivot.root-84 {
    width: 100%;
  }

  .default-text {
    display: flex;
    width: 100%;
    min-height: 370px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
  }
}

