@import "../../../styles/variables";

.query-response {
  display: flex;
  margin-top: $gutter;
  width: 100%;
  height: 375px;
  border: 1px solid silver;

  .ms-Pivot.root-84 {
    background-color: #eeeeee;
    width: 856px;
  }
}

