@import"../../../../styles/variables";

.request-editors {
    width:100%;
    margin-top: $gutter;
    margin-bottom: $gutter;
    height: 270px;
    border: 1px solid silver;
    overflow: hidden;


    .ms-Pivot.root-84 {
        width: 100%;
        background-color: #eeeeee;
    }

    .request-editor-control {
        margin-top:10px;
        width: 100%;
        text-align: center;
        position: relative;

        .headers-editor {
            padding: $gutter;

            .header-input-button {
                width: 100%;
            }

            .remove-header-btn {
                font-size: 25px;
            }
        }
    }

    .headers-list {
        overflow-y: scroll;
        max-height: 230px;
        min-height: 230px;
        overflow-x: hidden;

        .detail-list {
            width:100%;
            margin-left: $gutter;

            .field-content {
                line-height: 32px;
                padding: $gutter;
            }
        }
    }
}

.query-request {
    overflow: hidden;
    height: inherit;
}

.ms-Viewport {
    height: 100%;
}