@import "../../../styles/variables";

.query-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .query-text-field {
    width: 620px;
  }

  .query-verb-dropdown {
    width: 90px;
  }
}
