@import "../../../styles/variables";

.run-query-button {
  button {
    width: 100%;
    padding: 0;
  }
}

 .ms-Dropdown:focus {
   outline-style:double !important;
   outline-width:thick !important ;
}

.copy-info-section {
  @media screen and (min-width: 992px){
    margin-left: -5px !important
  }
  @media screen and (max-width: 991px){
    margin-left: 14px !important
  }

}

