@import "../../../../styles/variables";

.monaco-editor {
  margin-left: 1px;
  margin-top: 5px;
  padding-bottom: $gutter;
  width: inherit !important;
  overflow: hidden;

  .react-monaco-editor-container {
    width: inherit !important;
  }

  .overflow-guard {
    width: inherit !important;
  }
}

