name: Lint and Build

on:
  push

jobs:
  code-linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install Nodejs
      uses: actions/setup-node@v2
      with:
        node-version: '12.x'

    - name: Install dependencies
      run: npm install

    - name: Run linter
      run: npm run lint

    - name: Run the tests
      run: npm test

    - name: Build
      run: npm run build
